@font-face {
    /* 폰트 이름은 원하는대로 */
    /* public 폴더는 /로 호출 가능 */
    font-family: "NanumPenScript";
    src: url("/NanumPenScript-Regular.ttf");
}

html, body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

#root {
    background-color: white;
    /* 아무리 커도 600px */
    max-width: 600px;
    /* 600px 아래까지는 쭉쭉 늘어나도록 */
    width: 100%;
    margin: 0 auto;
    /* vh(Viewport Height): 현재 브라우저의 스크린 높이 */
    /* 100vh로 하면 스크린 최대 높이만큼 늘어난다. */
    min-height: 100vh;
    /* 요소 테두리 그림자 음영 */
    box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

/* body *: body 하위의 모든 요소 */
body * {
    font-family: "NanumPenScript";
}